<div class="animated  fadeInUp ">


<!--Main-->
<main class="cd-main">

	<!--Inner Main Section-->
	<section class="cd-section contact visible">

		<!--Main Container-->
		<div class="container">
			<div class="ptb-60">
				<!--Intro-->
				<h1 class="title">Contact <span class="bolder">Me</span></h1>
				<p class="mb40">
					Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused web-readiness. Intrinsicly monetize reliable interfaces rather than multimedia based experiences. synergistic networks. Quickly rather than multimedia based Collaboratively synergize economically sound process improvements with functionalized e-commerce.
				</p>
				<!--End Intro-->

				<!--Main Content-->
				<div class="row">			
					<div class="col-sm-12">
						<h3>Keep in Touch</h3>
						<div class="cont_info">						
							<h5>
								<strong>Email </strong>					
								<span>carlos.tolentinoe@ctolenk.xyz</span>
							</h5>
							<h5 class="mb30">
								<strong>Phone :</strong>
								<span>+1 (829) 264-0093</span>
							</h5>
						</div>

						<h3>Social Networks</h3>
						<div class="social-network">
							<a href="#"><i class="fa fa-facebook"></i></a>  
							<a href="#"><i class="fa fa-twitter"></i></a>  
							<a href="#"><i class="fa fa-instagram"></i></a>  
							<a href="#"><i class="fa fa-linkedin"></i></a>  
							<a href="#"><i class="fa fa-github"></i></a>  
						</div>

						<h3>We are waiting to Assist you</h3>
						<p class="mb30">
							This is Photoshop's version  of Lorem Ipsum. Proin gravid  nibh vel velit auctor aliquet.
						</p>
						<h6 class="system_font_color mb30">Simply use the form below to get in touch</h6>
						<form class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" class="form-control" id="first_name" placeholder="Your Name">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" class="form-control" id="contact_email" placeholder="Email Address">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" class="form-control" id="subject" placeholder="Subject">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<textarea class="form-control" rows="4" cols="50" id="contact_message" placeholder="Message"></textarea>
								</div>
							</div>
							<div class="mob_center">
								<button id="submit-form" class="btn system_btn submit-form">Send Message</button>
							</div>
						</form>
					</div>
				</div>
				<!--End Main Content-->

			</div>
		</div>
		<!--End Main Container-->

	</section>
	<!--End Inner Main Section-->

</main>
<!--End Main-->

</div>