<div class="animated  fadeInDown ">

  <!--Main-->
  <main class="cd-main">
  
    <!-- Inner Main Section-->
    <section class="cd-section blog visible">
  
      <!--Main Container-->
      <div class="container">
        <div class="ptb-60">
  
          <!--Intro -->
          <h1 class="title">My <span class="bolder">Blog</span></h1>
          <p class="mb40">
              We are currently in construction of this section.

              Right now we do not have an entry in the blog, but soon an interesting blog will be published about both software development and important technology and how to apply them.
          </p>
          <!--End Intro-->  

          <div class="container-img-contruction">        
            <img class="img-contruction" src="assets/images/construction.jpg" alt="construction">
          </div>

         
  

        </div>
      </div>
      <!--End Main Container-->	
  
    </section>
    <!--End Inner Main Section -->
  
  </main>
  <!--End Main-->
  </div>