
<div class="animated  fadeIn ">
<!--Main-->
<main class="cd-main">
	<!--Inner Main Section-->
	<section class="cd-section portfolio visible">

		<!--Main Container-->
		<div class="container">
			<div class="ptb-60">
				<!--Intro-->
				<div class="row">
					<div class="portfolio_title">
						<div class="col-sm-12">
							<h1 class="title">My <span class="bolder">Portfolio</span> </h1>
							<p class="mb40">
								{{data.description}}
								<br/><br/><strong>Hover on any portfolio/project to check out <span style="color:#0487cc; font-weight: 700">Quick view</span> action</strong>
							</p>
						</div>
					</div>
				</div>
				<!--End Intro-->

				<!--Portfolio/Project Main Categories-->
				<div class="port-tab">
					<div class="portfolio_filters_group">
						<ul id="portfolioFilter" class="portfolioFilter text-center">
							<li><button (click)="onChangeFilter('ALL')" [ngClass]="{'current': selected != 'ALL' }" class="btn portfolio_btn system_btn mobile_tabs">All</button></li>
							<li><button (click)="onChangeFilter('WEB')" [ngClass]="{'current': selected != 'WEB' }" class="btn portfolio_btn system_btn mobile_tabs ">Web Design</button></li>
							<li><button (click)="onChangeFilter('MOBILE')" [ngClass]="{'current': selected != 'MOBILE' }" class="btn portfolio_btn system_btn mobile_tabs">Web Application</button></li>
							<li><button (click)="onChangeFilter('UI/UX')" [ngClass]="{'current': selected != 'UI/UX' }" class="btn portfolio_btn system_btn mobile_tabs">Mobile Application</button></li>		
									
						</ul>
					</div>
				</div>
				<!--End Portfolio/Project Main Categories-->
				<div class="animated fadeIn">
					<div class="row">
						<div class="grid">
							<!--Portfolio/Project Main Content-->
							<div id="portfolioContainer" class="portfolioContainer ">
								<!--Portfolio 1-->
								<div *ngFor="let item of filterData" class="col-sm-4 photo grid-item">
									<div class="port_img mb25">
										<img class="img img-responsive" src="{{item.promo}}" alt="{{item.title}}">
										<div class="port_hover_div">
											<div class="port_hover_cont">
												<h3>{{item.title}}</h3>
												<p>{{item.subtitle}}</p>
												<a data-toggle="modal" data-target="#quick_view" (click)=onChangeSelected(item) class="btn system_btn">Quick View</a>
												<a (click)="goToProject(item)" class="btn system_btn">Detail View</a>
											</div>
										</div>
									</div>
								</div>			
							</div>
							<!--End Portfolio/Project Main Content-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Main Container-->
	</section>
	<!--End Inner Main Section-->

</main>
<!--End Main-->

</div>


<!-- Quick Showcase of Portfolio/Project -->
<div *ngIf="projectSeleted" class="modal fade" id="quick_view">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{projectSeleted.title}} - {{projectSeleted.subtitle}}</h4>
			</div>
			<div class="modal-body">
				<div class="portfolio_modal_body">
					<h5 class="mb20">{{projectSeleted.date}}</h5>					

					<p class="mb20">{{projectSeleted.description}}
						<a routerLink="/portfolio/name-project" target="_blank">   more ...</a>
					</p>			

					<h5 class="mb20">
						<span>Development</span> in {{projectSeleted.develoment}}
						<span > </span>
					</h5>

					<div class="port_tags">
						<a *ngFor="let tech of projectSeleted.technology" class="btn system_btn">{{tech}}</a>					
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- End Quick Showcase of Portfolio/Project -->
