
<div class="animated  fadeIn ">
<!--Main-->
<main class="cd-main">
	<!--Inner Main Section-->
	<section class="cd-section portfolio visible">

		<!--Main Container-->
		<div class="container">
			<div class="ptb-60">
				<!--Intro-->
				<div class="row">
					<div class="portfolio_title">
						<div class="col-sm-12">
							<h1 class="title">My <span class="bolder">Portfolio</span> </h1>
							<p class="mb40">
								Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. <br/><br/><strong>Hover on any portfolio/project to check out <a href="portfolio2.html" style="color:#0487cc; font-weight: 700">Quick view</a> action</strong>
							</p>
						</div>
					</div>
				</div>
				<!--End Intro-->

				<!--Portfolio/Project Main Categories-->
				<div class="port-tab">
					<div class="portfolio_filters_group">
						<ul id="portfolioFilter" class="portfolioFilter text-center">
							<li><button data-filter="*" class="btn portfolio_btn system_btn mobile_tabs current">All</button></li>
							<li><button data-filter=".web" class="btn portfolio_btn system_btn mobile_tabs">Web Design</button></li>
							<li><button data-filter=".app" class="btn portfolio_btn system_btn mobile_tabs">Web Application</button></li>
							<li><button data-filter=".photo" class="btn portfolio_btn system_btn mobile_tabs">Mobile Application</button></li>							
						</ul>
					</div>
				</div>
				<!--End Portfolio/Project Main Categories-->

				<div class="row">
					<div class="grid">

						<!--Portfolio/Project Main Content-->
						<div id="portfolioContainer" class="portfolioContainer">
							<!--Portfolio 1-->
							<div *ngFor="let item of data.projects" class="col-sm-4 photo grid-item">
								<div class="port_img mb25">
									<img class="img img-responsive" src="assets/images/portfolio/portfolio1.jpg" alt="Portfolio-1">
									<div class="port_hover_div">
										<div class="port_hover_cont">
											<h3>{{item.title}}</h3>
											<p>This is Photoshop's version</p>
											<a data-toggle="modal" data-target="#quick_view" class="btn system_btn">Quick View</a>
											<a routerLink="/portfolio/name-project" class="btn system_btn">Detail View</a>
										</div>
									</div>
								</div>
							</div>			
						</div>
						<!--End Portfolio/Project Main Content-->
					</div>
				</div>
			</div>
		</div>
		<!--End Main Container-->
	</section>
	<!--End Inner Main Section-->

</main>
<!--End Main-->

</div>


<!-- Quick Showcase of Portfolio/Project -->
<div class="modal fade" id="quick_view">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Appestia - SPA landing page</h4>
			</div>
			<div class="modal-body">
				<div class="portfolio_modal_body">
					<h5 class="mb20">FEBRUARY,2018</h5>

					<h5 class="mb20">
						<span>Web Devlopment</span> in
						<span>Bootstrap, HTML, CSS, Angular, Nodejs</span>
					</h5>

					<p class="mb20">Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused web-readiness. Intrinsicly monetize reliable interfaces rather than multimedia based experiences. synergistic networks
						<a routerLink="/portfolio/name-project" target="_blank">   more ...</a>
					</p>
					<!-- <div class="mb20">
						<a href="https://themeforest.net/user/phoenixcoded" target="_blank">https://themeforest.net/user/phoenixcoded/</a>
					</div> -->
					<!-- <div class="mb20">
						<a href="portfolio2.html#">
							<img class="img img-responsive" src="assets/images/tweet.png" alt="Tweet">
						</a>
						<a href="portfolio2.html#">
							<img class="img img-responsive" src="assets/images/fb_like.png" alt="FB">
						</a>
						<a href="portfolio2.html#">
							<img class="img img-responsive" src="assets/images/pinit.png" alt="Pinit">
						</a>
					</div> -->
					<div class="port_tags">
						<a href="portfolio2.html#" class="btn system_btn">Coading</a>
						<a href="portfolio2.html#" class="btn system_btn">Inventory System</a>
						<a href="portfolio2.html#" class="btn system_btn">Nodejs</a>
						<a href="portfolio2.html#" class="btn system_btn">Angular</a>
						<a href="portfolio2.html#" class="btn system_btn">Bootstrap</a>
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- End Quick Showcase of Portfolio/Project -->

<script type="text/javascript">

	/*======= Portfolio js starts ======= */
	$(window).load(function(){
    console.log("Desde Portfolio");
		var $container = $('#portfolioContainer');
		$container.isotope({
			filter: '*',
			animationOptions: {
				duration: 750,
				easing: 'linear',
				queue: false
			}
		});

		$('.portfolio_btn').on('click',function(){
			$('.current').removeClass('current');
			$(this).addClass('current');

			var selector = $(this).attr('data-filter');
			$container.isotope({
				filter: selector,
				animationOptions: {
					duration: 750,
					easing: 'linear',
					queue: false
				}
			});
			return false;
		});
	});
	/*======= Portfolio js ends ======= */

</script>