.current {
    background: #fff;
    border: 1px solid #e21e35c6;
    color: var(--primary-color);
}

.port_hover_div{
    background-color: #e21e35c6;   
}

.cd-main{
    margin-bottom: 10rem;
}

.portfolio_btn:hover{
    background-color:var(--primary-color);
    color: #fff;
}