<div class="animated  fadeInDown ">

<!--Main-->
<main class="cd-main">
	<!--Inner Main Section-->
	<section class="cd-section port_details visible">

		<!--Main Container-->
		<div class="container">
			<div class="ptb-60">

				<!--Intro -->
				<h1><span class="bolder">{{data.title}}</span></h1>
				<h3>{{data.subtitle}}</h3>
				<!--End Intro-->

				<!--Main Content-->
				<div class="row">			

					<!--Project details-->
					<div class="col-sm-8 ">
						<span class="portfolio_date mb20">{{data.date}}</span>

						<!--Slideshow-->
						<app-slideshow [projectBig]=data.img.big [projectSmall]="data.img.small"></app-slideshow>
						<!--End Slideshow-->

						<!-- Details Project -->
						<app-tech
							[technology]="data.technology"
							[settings]="data.setting"
							[descriptions]="data.descriptionLong"	
							[urlProject]="data.url"	
							[duration]="data.duration"				
						
						></app-tech>
						<!-- End Details Project -->

						<!--Review-->
						<app-review
							[blockquotes]="data.blockquotes"
						></app-review> 
						<!--End Review-->

					</div>
					<!--End Project details-->  


					<!--Portfolio Right side bar-->
					<app-sidebar
						[titleProject]="data.title"
					></app-sidebar>
					<!--End Portfolio Right side bar-->
				</div>
				<!--Main Content-->
			</div>
		</div>
		<!--End Main Container-->
	</section>
	<!--End Inner Main Section-->
</main>
<!--End Main-->

</div>