<div class="mb40">
    <h3>Education</h3>
    <div class="timeline timeline-left gray-blue">		
      <div *ngFor="let item of education" class="timeline-block">
        <i class="fa fa-graduation-cap"></i>
        <div class="timeline-icon"></div>
        <div class="timeline-content">   

          <div *ngFor="let element of item.description" class="pb-5">
              <h4>{{element.title}}</h4>           
              <p>{{element.detail}}</p>                
          </div>
    
          <div class="timeline-date">{{item.years}}
            <h4 class="system_font_color">{{item.institute}}</h4>
          </div>
        </div>
      </div>						
    </div>
</div>


<!-- 

  description: 
"Informaicon"
institute: 
"Centenaria"
title: 
"Computer Technologist"
years: 
"2008-2009"
7
description: 
"dedehduehde"
institute: 
"ITLA"
title: 
"It Support Networking\""
years: 
"2010-2011"





 -->