<div class="mb40">
  <h3>Experience</h3>
  <div class="timeline timeline-left gray-blue">					
    <div *ngFor="let item of experience" class="timeline-block">
      <i class="fa fa-suitcase"></i>
      <div class="timeline-icon"></div>
      <div class="timeline-content">
          <div *ngFor="let element of item.description" class="pb-5">
              <h4>{{element.title}}</h4>    
              <h5 class="mb-15"><b >{{element.company}}</b></h5>         
              <p class="text-justify">{{element.detail}}</p>                
          </div>           
          <div class="timeline-date">{{item.years}}
            <h4 class="system_font_color">{{item.company}}</h4>
          </div>
        </div>
    </div>						
  </div>
</div>
