<!--Main-->
<main class="cd-main">
	<!--Inner Main Section-->
	<section class="cd-section port_details visible">

		<!--Main Container-->
		<div class="container">
			<div class="ptb-60">

				<!--Intro -->
				<h1>Inventory <span class="bolder">System</span></h1>
				<h3>Web Based Fully Cloud System</h3>
				<!--End Intro-->

				<!--Main Content-->
				<div class="row">

					<!--Portfolio Right side bar-->
					<div class="col-sm-4 col-sm-push-8">
						<!--Search-->
						<div class="input-group search_btn">
							<input type="text" class="form-control" placeholder="Search for...">
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
						<!--Categories-->
						<div class="port_detail_next_search">
							<h4 class="system_font_color mtb-40">Categories</h4>
							<h5>
								<a href="portfolio_details.html#" target="_blank">
									Web Design
									<i class="fa fa-angle-right pull-right"></i>
								</a>
							</h5>
							<h5>
								<a href="portfolio_details.html#" target="_blank">
									Web App
									<i class="fa fa-angle-right pull-right"></i>
								</a>
							</h5>
							<h5>
								<a href="portfolio_details.html#" target="_blank">
									WordPress
									<i class="fa fa-angle-right pull-right"></i>
								</a>
							</h5>
							<h5>
								<a href="portfolio_details.html#" target="_blank">
									Mobile App
									<i class="fa fa-angle-right pull-right"></i>
								</a>
							</h5>
						</div>
						<!--Recent posts-->
						<div>
							<h4 class="system_font_color mtb-40">Recent Projects</h4>
							<div class="row recent_post">
								<a href="portfolio_details.html#" target="_blank">
									<div class="col-sm-4">
										<img class="img img-responsive" src="assets/images/post1.jpg" alt="Post">
									</div>
									<div class="col-sm-8">
										<h5>Mobile Application Control Diamante</h5>
										<h5>15 aug, 2018</h5>
									</div>
								</a>
							</div>
							<div class="row recent_post">
								<a href="portfolio_details.html#" target="_blank">
									<div class="col-sm-4 ">
										<img class="img img-responsive" src="assets/images/post2.jpg" alt="Post">
									</div>
									<div class="col-sm-8">
										<h5>ERP Control Diamante</h5>
										<h5>24 sept, 2018</h5>
									</div>
								</a>
							</div>
							<div class="row recent_post">
								<a href="portfolio_details.html#" target="_blank">
									<div class="col-sm-4">
										<img class="img img-responsive" src="assets/images/post3.jpg" alt="Post">
									</div>
									<div class="col-sm-8">
										<h5>CRM Nico Design</h5>
										<h5>27 sept, 2018</h5>
									</div>
								</a>
							</div>
						</div>
						<!--Tags-->
						<div class="port_tags">
							<h4 class="system_font_color mtb-40">Tags</h4>
							<a href="portfolio_details.html#" class="btn system_btn">Coading</a>
							<a href="portfolio_details.html#" class="btn system_btn">Inventory System</a>
							<a href="portfolio_details.html#" class="btn system_btn">Single Page Application</a>
							<a href="portfolio_details.html#" class="btn system_btn">CRM</a>
							<a href="portfolio_details.html#" class="btn system_btn">CMS</a>
							<a href="portfolio_details.html#" class="btn system_btn">ERP</a>
						</div>
					</div>
					<!--End Portfolio Right side bar-->

					<!--Project details-->
					<div class="col-sm-8 col-sm-pull-4">
						<span class="portfolio_date mb20">FEBRUARY, 2017</span>
						<!--Images-->
						<div class="port_details_all_img">
							<div class="row">
								<div class="col-sm-12">
									<div id="big_banner">
										<div class="port_big_img">
											<img class="img img-responsive mt20" src="assets/images/portfolio/portfolio_big1.jpg" alt="Big_ Details">
											<div class="port_detail_title">Sales Management Module</div>
										</div>								
									</div>
								</div>
							</div>
							<!-- <div class="row mt20">
								<div class="col-sm-12">
									<div id="small_banner">
										<div>
											<img class="img img-responsive" src="assets/images/portfolio/portfolio_small1.jpg" alt="small-details" >
										</div>
										<div>
											<img class="img img-responsive" src="assets/images/portfolio/portfolio_small2.jpg" alt="small-details" >
										</div>
										<div>
											<img class="img img-responsive" src="assets/images/portfolio/portfolio_small3.jpg" alt="small-details" >
										</div>
										<div>
											<img class="img img-responsive" src="assets/images/portfolio/portfolio_small4.jpg" alt="small-details" >
										</div>
										<div>
											<img class="img img-responsive" src="assets/images/portfolio/portfolio_small5.jpg" alt="small-details" >
										</div>
										<div>
											<img class="img img-responsive" src="assets/images/portfolio/portfolio_small6.jpg" alt="small-details" >
										</div>

									</div>
								</div>
							</div> -->
						</div>
						<div class="row">
							<div class="col-sm-12">
								<p class="mb40">
									A few months ago, we found ridiculously cheap plane tickets for Boston and off we went. It was our first visit to the city and, believe it or not, Stockholm in February was more pleasant than Boston in March. It probably has a lot to do with the fact that we arrived completely unprepard. That It was so cold that I wouldn't even reach for my camera. I snapped more pictures.

									Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae provident dolore inventore ab earum facilis a adipisci, laborum magnam dignissimos maxime possimus officiis porro vero labore est debitis totam culpa?

									Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolore et earum iste incidunt? Et error, ipsum a recusandae sunt saepe iure debitis excepturi. Non perferendis perspiciatis recusandae rerum inventore.

									Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nesciunt ipsa aut inventore eum. Provident cumque accusamus, natus nostrum, corrupti eum inventore ut, doloremque possimus ipsum modi ducimus consectetur quod?
								</p>
							</div>
							<div class="mb40 col-sm-12 col-md-8">
											<span class="port_detail_url">
                        URL :
                        <a href="#" target="_blak">https://projectclient.domain/</a>										
											</span>
							</div>
						
						</div>
						<div class="row">
							<!--Source-->
							<div class="col-sm-6 col-xs-12">
								<h3>Technology Used</h3>
								<ul class="port_source pl20">
									<li><h4>Angular 7</h4></li>
									<li><h4>Bootstrap 3</h4></li>
									<li><h4>MailChimp</h4></li>
									<li><h4>Nodejs</h4></li>
									<li><h4>HTML 5</h4></li>
									<li><h4>Twilio</h4></li>             
								</ul>
							</div>
							<!--Technology used-->
							<div class="col-sm-6 col-xs-12">
								<h3>Setting Used</h3>
								<ul class="pl0">
									<li class="port_tech_item">
										<div class="divider">
											<span class="port_icon1"></span>
											<h4>Parallax Effect</h4>
											<p>Give extra smooth effect to your web page</p>
										</div>
									</li>
									<li class="port_tech_item">
										<div class="divider">
											<span class="port_icon2"></span>
											<h4>Front - End Development</h4>
											<p>Give extra smooth effect to your web page</p>
										</div>
									</li>
									<li class="port_tech_item">
										<div class="divider">
											<span class="port_icon3"></span>
											<h4>Responsive  Design</h4>
											<p>Give extra smooth effect to your web page</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!--Duration-->
						<div id="port_chart" class="text-center mb40">
							<div class="row">
								<div class="col-sm-12">
									<h3 class="text-left">Time Duration</h3>
									<div class="col-sm-4 col-xs-12 mob_chart">
										<div class="chart" data-percent="80" data-barColor="#0487cc" data-trackColor="#fff" data-lineWidth="3" data-barSize="150">
											<div class="chart-percent">
												<span></span>Days
											</div>
										</div>
										<div class="text-center">
											<h5 class="mb20">Communication Skill</h5>
											<p>A few months ago, we found ridiculously cheap plane </p>
										</div>
									</div>
									<div class="col-sm-4 col-xs-12 mob_chart">
										<div class="chart" data-percent="90" data-barColor="#0487cc" data-trackColor="#fff" data-lineWidth="3" data-barSize="150">
											<div class="chart-percent">
												<span></span>%
											</div>
										</div>
										<div class="text-center">
											<h5 class="mb20">English</h5>
											<p>A few months ago, we found ridiculously cheap plane </p>
										</div>
									</div>
									<div class="col-sm-4 col-xs-12 mob_chart">
										<div class="chart" data-percent="83" data-barColor="#0487cc" data-trackColor="#fff" data-lineWidth="3" data-barSize="150">
											<div class="chart-percent">
												<span></span>%
											</div>
										</div>
										<div class="text-center">
											<h5 class="mb20">Creative</h5>
											<p>A few months ago, we found ridiculously cheap plane </p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--Review-->
						<div class="row">
							<div class="col-sm-12">
								<h3>Client Review</h3>
								<div id="review">
									<div>
										<blockquote>
											<p>"Sit ametctetur adipising elit, sed do eiusmod tempor incididint ut labore magna aliuua. Ut enim ad minim veniam, quis nosturd exercitation u, lamco laboris nisi ut aliquip "</p>

										</blockquote>
										<div class="text-center mt20 mb20">
											<h5 class="text-uppercase system_font_color">Grenchen Pearce</h5>
											<h6>Boston Brothers co.</h6>
											<span class="system_span">4th July 2016</span>
										</div>
									</div>
									<div>
										<blockquote>
											<p>
												"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
											</p>
										</blockquote>
										<div class="text-center mt20 mb20">
											<h5 class="text-uppercase system_font_color">John Doe</h5>
											<h6>New Investers</h6>
											<span class="system_span">6th June 2016</span>
										</div>
									</div>
									<div>
										<blockquote>
											<p>" It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout "</p>

										</blockquote>
										<div class="text-center mt20 mb20">
											<h5 class="text-uppercase system_font_color">Mark Jaison</h5>
											<h6>Boston Brothers co.</h6>
											<span class="system_span">10th August 2016</span>
										</div>
									</div>
									<div>
										<blockquote>
											<p>" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>

										</blockquote>
										<div class="text-center mt20 mb20">
											<h5 class="text-uppercase system_font_color">Grahen Doe</h5>
											<h6>Boston Brothers co.</h6>
											<span class="system_span">29th August 2016</span>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!--End Project details-->

				</div>
				<!--Main Content-->
			</div>
		</div>
		<!--End Main Container-->



	</section>
	<!--End Inner Main Section-->
</main>
<!--End Main-->