<div class="animated  fadeInUp ">
<!--Main-->
<main class="cd-main">

	<!--Inner Main Section-->
	<section class="cd-section blog_details visible">

		<!--Main Container-->
		<div class="container">
			<div class="ptb-60">

				<!--Title -->
				<h1>Inventory <span class="bolder">System</span></h1>
				<h3>Web Based Fully Cloud System</h3>
				<!--End Title -->

				<!--Main Content-->
				<div class="row">

					<!-- Right content -->
					<div class="col-sm-3 col-sm-push-9">
						<!-- <div class="input-group search_btn">
							<input type="text" class="form-control" placeholder="Search for...">
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div> -->
						<div class="port_detail_next_search">
							<h4 class="system_font_color mtb-40">Categories</h4>
							<h5>
								<a href="blog_details.html#" target="_blank">
									Web Design
									<i class="fa fa-angle-right pull-right"></i>
								</a>
							</h5>
							<h5>
								<a href="blog_details.html#" target="_blank">
									Technology
									<i class="fa fa-angle-right pull-right"></i>
								</a>
							</h5>
							<h5>
								<a href="blog_details.html#" target="_blank">
									Frontend 
									<i class="fa fa-angle-right pull-right"></i>
								</a>
							</h5>
							<h5>Backend
								<i class="fa fa-angle-right pull-right"></i>
							</h5>
						</div>
						<div class="blog_detail_social_icon">
							<h4 class="system_font_color mtb-40">Social Media</h4>
							<a>
								<span class="g-plus"></span>
							</a>
							<a>
								<span class="fb"></span>
							</a>
							<a>
								<span class="twt"></span>
							</a>
							<a>
								<span class="pinit"></span>
							</a>
							<a>
								<span class="lin"></span>
							</a>
						</div>
						<h4 class="system_font_color mtb-40">Latest Post</h4>
						<div class="row">
							<div class="col-sm-6 col-md-12 mb40 blog_post_img latest_blog">
								<h5><a href="blog_details.html#" target="_blank">Standard Gallery Post</a></h5>
								<img class="img img-responsive mob_img mtb20" src="assets/images/st_gallery1.jpg" alt="Standard Gallery">
								<p>
									Assertively cultivate professional interfaces without synergistic work  client-based eliverables.
								</p>
								<h6 class="system_font_color">
									<span class="cmt"></span>
									<a href="blog_details.html#">14 Comments</a></h6>
							</div>
							<div class="col-sm-6 col-md-12 mb40 blog_post_img latest_blog">
								<h5><a href="blog_details.html#" target="_blank">Classic Gallery Post</a></h5>
								<img class="img img-responsive mob_img mtb20" src="assets/images/st_gallery2.jpg" alt="Standard Gallery">
								<p>
									Assertively cultivate professional interfaces without synergistic work  client-based eliverables.
								</p>
								<h6 class="system_font_color"><span class="cmt"></span><a href="blog_details.html#">30 Comments</a></h6>
							</div>
							<div class="col-sm-6 col-md-12 blog_post_img latest_blog">
								<h5><a href="blog_details.html#" target="_blank">Creative Gallery Post</a></h5>
								<img class="img img-responsive mob_img mtb20" src="assets/images/st_gallery3.jpg" alt="Standard Gallery">
								<p>
									Assertively cultivate professional interfaces without synergistic work  client-based eliverables.
								</p>
								<h6 class="system_font_color"><span class="cmt"></span><a href="blog_details.html#">34 Comments</a></h6>
							</div>
						</div>
					</div>
					<!--End Right content-->

					<!--Left content-->
					<div class="col-sm-9 col-sm-pull-3">
						<span class="portfolio_date mb20">FEBRUARY,2016</span>

						<div class="mb30">
							<div class="row">
								<div class="col-sm-12">
									<img class="img img-responsive img_fix_width mt20" src="assets/images/blog_detail1.jpg" alt="Big_ Details">
								</div>
							</div>
						</div>
						<div class="mb30">
							<p>
								Assertively cultivate professional interfaces without synergistic etworks. Quickly erage exist customiz  ideas through client-based eliverables. Compellingly unleashd .
							</p>
						</div>

						<div>
							<blockquote>
								<p>" Sit ametctetur adipising elit, sed do eiusmod tempor incididint ut labore magna aliuua. Ut enim ad minim veniam, quis nosturd exercitation u, lamco laboris nisi ut aliquip "</p>
							</blockquote>
						</div>
						<div class="mb20">
							<p>
								Assertively cultivate professional interfaces without synergistic etworks. Quickly erage exist customiz  ideas through client-based eliverables. Compellingly unleashd .
							</p>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime rem molestiae adipisci fugit quo quidem quasi numquam consequuntur, ullam expedita quam repellat ducimus deleniti, soluta exercitationem. Doloremque perspiciatis id ea.							
							</p>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime rem molestiae adipisci fugit quo quidem quasi numquam consequuntur, ullam expedita quam repellat ducimus deleniti, soluta exercitationem. Doloremque perspiciatis id ea.							
							</p>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime rem molestiae adipisci fugit quo quidem quasi numquam consequuntur, ullam expedita quam repellat ducimus deleniti, soluta exercitationem. Doloremque perspiciatis id ea.							
							</p>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime rem molestiae adipisci fugit quo quidem quasi numquam consequuntur, ullam expedita quam repellat ducimus deleniti, soluta exercitationem. Doloremque perspiciatis id ea.							
							</p>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="blog_person pull-right blog_details_person">
									<h5>
										<a href="blog_details.html#" id="comment">
											<span class="blog_coment"></span>Comments
										</a>
									</h5>
									<h5>
										<a href="blog_details.html#">
											<span class="blog_share"></span>Share
										</a>
									</h5>
								</div>
							</div>
						</div>
						<div class="row mb40">
							<div class="col-sm-12">
								<h3>Feature Post</h3>
							</div>
							<div class="col-sm-6 col-md-4 blog_post_img">
								<img class="img img-responsive img_fix_width mb20" src="assets/images/blog_detail_post1.jpg" alt="Blog-Detail">
								<p>Lorem ipsum dolor sit amet, that it consectetuer adipiscing elit.Aenean commodo.</p>

							</div>
							<div class="col-sm-6 col-md-4 blog_post_img">
								<img class="img img-responsive img_fix_width mb20" src="assets/images/blog_detail_post2.jpg" alt="Blog-Detail">
								<p>Lorem ipsum dolor sit amet, that it consectetuer adipiscing elit.Aenean commodo.</p>
							</div>
							<div class="col-sm-6 col-md-4 blog_post_img">
								<img class="img img-responsive img_fix_width mb20" src="assets/images/blog_detail_post3.jpg" alt="Blog-Detail">
								<p>Lorem ipsum dolor sit amet, that it consectetuer adipiscing elit.Aenean commodo.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 mb40"><h3>Comment on This Post</h3>

								<ul class="blog_comment">
									<li class="mb40">
										<div>
											<img class="img img-responsive" src="assets/images/blog_cmt1.jpg" alt="blog-comment">
										</div>
										<div class="blog_comment_cont">
											<h5>Jeason</h5>
											<h5 class="pull-right">Mar 10, 2015</h5>
											<p class="mt20">
												This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
											</p>
											<div class="blog_comment_icons">
												<span class="reply_icon"></span>
												<span class="heart_icon"></span>
												<span>80</span>
												<span class="blog_coment_detail"></span>
												<span>25</span>
												<span class="blog_share_detail"></span>
											</div>
										</div>
										<ul class="blog_reply mt40">
											<li>
												<div>
													<img class="img img-responsive" src="assets/images/blog_reply2.jpg" alt="blog-comment">
												</div>
												<div class="blog_comment_cont">
													<h5>Jeason</h5>
													<h5 class="pull-right">Mar 10, 2015</h5>
													<p class="mt10">
														This is Photoshop's version  of Lorem
													</p>
												</div>
											</li>
										</ul>
									</li>
									<li>
										<div>
											<img class="img img-responsive" src="assets/images/blog_cmt2.jpg" alt="blog-comment">
										</div>
										<div class="blog_comment_cont">
											<h5>Jeason</h5>
											<h5 class="pull-right">Mar 10, 2015</h5>
											<p class="mt20">
												This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
											</p>
											<div class="blog_comment_icons">
												<span class="reply_icon"></span>
												<span class="heart_icon"></span>
												<span>80</span>
												<span class="blog_coment_detail"></span>
												<span>25</span>
												<span class="blog_share_detail"></span>
											</div>
										</div>

									</li>
								</ul>
							</div>
							<div id="reply" class="col-sm-12">
								<div class="system_font_color blog_detail_reply_form">
									<h4>Leave A Reply</h4>
									<form class="form-horizontal">
										<div class="form-group">
											<div class="col-sm-6">
												<input type="text" class="form-control mob_control" id="email" placeholder="Your Name">
											</div>
											<div class="col-sm-6">
												<input type="text" class="form-control" id="e_mail" placeholder="Email Id">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-12">
												<input type="text" class="form-control" id="pwd" placeholder="Website">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-12">
												<textarea class="form-control" rows="4" cols="50" placeholder="Message"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 text-right mob_center">
												<button class="btn system_btn">Send Message</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!--End Left content-->
				</div>
				<!--End Main Content-->
			</div>
		</div>
		<!--End Main Container-->

	</section>
	<!--End Inner Main Section-->

</main>
<!--End Main-->
</div>