
<!-- Side Navigation -->
<nav class="cd-side-navigation sidebar left animated">
	<ul>
		<li>
			<a routerLink="/home" routerLinkActive="selected">
				<span class="home_icon"></span>
				<span>Home</span>
			</a>
		</li>
		<li>
			<a routerLink="/resume" routerLinkActive="selected">
				<span class="resume_icon"></span>
				<span>Resume</span>
			</a>
		</li>
		<li>
			<a routerLink="/portfolio" routerLinkActive="selected">
				<span class="portfolio_icon"></span>
				<span>Portfolio</span>
			</a>
		</li>
		<li>
			<a routerLink="/blog" routerLinkActive="selected">
				<span class="blog_icon"></span>
				<span>Blog</span>
			</a>
		</li>
		<li>
			<a routerLink="/contact-us" routerLinkActive="selected">
				<span class="cont_icon"></span>
				<span>Contact us</span>
			</a>
		</li>
	</ul>
</nav>
<!-- End Navigation -->

<!--Mobile Menu icon-->
<div id="sidebar-btn" class="sidebar-btn toggle_icon_block" data-action="toggle" data-side="left">
	<div id="toggle_icon" class="toggle_icon">
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>
<!--End Mobile Menu icon-->
