<!--Main-->
<main class="cd-main">
	<!--Inner Main Section-->
	<section class="cd-section resume visible">

		<!--Main Container-->
		<div class="container">
			<div class="ptb-60">

				<!--Intro -->
				<div class="row">
					<div>
						<div class="col-sm-12">
							<h1 class="title">My <span class="bolder">Resume</span></h1>
							<p class="mb40">
								Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused web-readiness. Intrinsicly monetize reliable interfaces rather than multimedia based experiences. synergistic networks. Quickly rather than multimedia based Collaboratively synergize economically sound process improvements with functionalized e-commerce.
							</p>
						</div>
					</div>
				</div>
				<!--End Intro-->

				<!--Main Content-->
				<div class="row">
					<div class="col-md-offset-1 col-xs-12 col-sm-11">

						<!--Professional skill-->
						<div class="mb40">
							<h3>Professional Skill</h3>
							<!--1-->
							<div class="row">
								<div class="mb50">
									<div class="col-sm-2">
										<h4 class="mt0">JavaScript</h4>
									</div>
									<div class="col-sm-10">
										<div class="progress">
											<div class="progress-bar animated slideInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
											</div>
										</div>
									</div>
								</div>
              </div>
            	<!--2-->
							<div class="row">
								<div class="mb50">
									<div class="col-sm-2">
										<h4 class="mt0">Nodejs</h4>
									</div>
									<div class="col-sm-10">
										<div class="progress">
											<div class="progress-bar animated slideInLeft" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 3-->
							<div class="row">
								<div class="mb50">
									<div class="col-sm-2">
										<h4 class="mt0">Angular</h4>
									</div>
									<div class="col-sm-10">
										<div class="progress">
											<div class="progress-bar animated slideInLeft" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%;">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--4-->
							<div class="row">
								<div class="mb50">
									<div class="col-sm-2">
										<h4 class="mt0">Reactjs</h4>
									</div>
									<div class="col-sm-10">
										<div class="progress">
											<div class="progress-bar animated slideInLeft" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
											</div>
										</div>
									</div>
								</div>
              </div>
              <!--5-->
							<div class="row">
								<div class="mb50">
									<div class="col-sm-2">
										<h4 class="mt0">React Native/ Ionic</h4>
									</div>
									<div class="col-sm-10">
										<div class="progress">
											<div class="progress-bar animated slideInLeft" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--6-->
							<div class="row">
								<div class="mb50">
									<div class="col-sm-2">
										<h4 class="mt0">PHP</h4>
									</div>
									<div class="col-sm-10">
										<div class="progress">
											<div class="progress-bar animated slideInLeft" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%;">
											</div>
										</div>
									</div>
								</div>
              </div>
              <!--7-->
							<div class="row">
								<div class="mb50">
									<div class="col-sm-2">
										<h4 class="mt0">WordPress</h4>
									</div>
									<div class="col-sm-10">
										<div class="progress">
											<div class="progress-bar animated slideInLeft" role="progressbar" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100" style="width: 81%;">
											</div>
										</div>
									</div>
								</div>
              </div>
              
              <!--8-->
							<div class="row">
								<div class="mb50">
									<div class="col-sm-2">
										<h4 class="mt0">UI/UX</h4>
									</div>
									<div class="col-sm-10">
										<div class="progress">
											<div class="progress-bar animated slideInLeft" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%;">
											</div>
										</div>
									</div>
								</div>
							</div>
			
							<!--9-->
							<div class="row">
								<div class="mb50">
									<div class="col-sm-2">
										<h4 class="mt0">Creative</h4>
									</div>
									<div class="col-sm-10">
										<div class="progress">
											<div class="progress-bar animated slideInLeft" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100" style="width: 91%;">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--End of Professional Skill-->

						<!--Additional skill-->
						<div class="mb40">
							<h3>Additional Skill</h3>
							<div class="row text-center mb60">
								<!--1-->
								<div class="col-sm-4 col-xs-12 mob_chart">
									<div class="chart" data-percent="68" data-barColor="#0487cc" data-trackColor="#fff" data-lineWidth="3" data-barSize="150">
										<div class="chart-percent">
											<span></span>%
										</div>
									</div>
									<div class="text-center mob_counter">
										<h5>Communication Skill</h5>
									</div>
								</div>
								<!--2-->
								<div class="col-sm-4 col-xs-12 mob_chart">
									<div class="chart" data-percent="90" data-barColor="#0487cc" data-trackColor="#fff" data-lineWidth="3" data-barSize="150">
										<div class="chart-percent">
											<span></span>%
										</div>
									</div>
									<div class="text-center mob_counter">
										<h5>English</h5>
									</div>
								</div>
								<!--3-->
								<div class="col-sm-4 col-xs-12 mob_chart">
									<div class="chart" data-percent="83" data-barColor="#0487cc" data-trackColor="#fff" data-lineWidth="3" data-barSize="150">
										<div class="chart-percent">
											<span></span>%
										</div>
									</div>
									<div class="text-center mob_counter">
										<h5>Creative</h5>
									</div>
								</div>
							</div>
						</div>
						<!--End of Additional Skill-->

						<!--Experience-->
						<div class="mb40">
							<h3>Experience</h3>
							<div class="timeline timeline-left gray-blue">
								<!--1-->
								<div class="timeline-block">
									<i class="fa fa-suitcase"></i>
									<div class="timeline-icon"></div>
									<div class="timeline-content">
										<h4>WEB AGENCY</h4>
										<p>
											Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused
										</p>
										<div class="timeline-date">2011-2012
											<h4 class="system_font_color" title="Hello Developer">Web Developer</h4>
										</div>
									</div>
								</div>
								<!--2-->
								<div class="timeline-block">
									<div class="timeline-icon"></div>
									<div class="timeline-content">
										<h4>GOOGLE INC</h4>
										<p>
											Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused
										</p>
										<div class="timeline-date">2013-2014
											<h4 class="system_font_color" title="Hello Developer">Web Developer</h4>
										</div>
									</div>
								</div>
								<!--3-->
								<div class="timeline-block">
									<div class="timeline-icon"></div>
									<div class="timeline-content">
										<h4>WEB AGENCY</h4>
										<p>
											Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused
										</p>
										<div class="timeline-date">2015-2016
											<h4 class="system_font_color" title="Hello Developer">Web Developer</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--End of Experience-->

						<!--Education-->
						<div class="mb40">
							<h3>Education</h3>
							<div class="timeline timeline-left gray-blue">
								<!--1-->
								<div class="timeline-block">
									<i class="fa fa-graduation-cap"></i>
									<div class="timeline-icon"></div>
									<div class="timeline-content">
										<h4>WEB AGENCY</h4>
										<p>
											Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused
										</p>
										<div class="timeline-date">2011-2012
											<h4 class="system_font_color">Web Developer</h4>
										</div>
									</div>
								</div>
								<!--2-->
								<div class="timeline-block">
									<div class="timeline-icon"></div>
									<div class="timeline-content">
										<h4>GOOGLE INC</h4>
										<p>
											Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused
										</p>
										<div class="timeline-date">2013-2014
											<h4 class="system_font_color">Web Developer</h4>
										</div>
									</div>
								</div>
								<!--3-->
								<div class="timeline-block">
									<div class="timeline-icon"></div>
									<div class="timeline-content">
										<h4>WEB AGENCY</h4>
										<p>
											Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused
										</p>
										<div class="timeline-date">2015-2016
											<h4 class="system_font_color">Web Developer</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--End of Education-->

						<!--Best Quotes Slider-->
						<div class="mb40">
							<h3>My Best Quotes</h3>
							<div id="quotes">
								<!--1-->
								<blockquote>
									<p>"Sit ametctetur adipising elit, sed do eiusmod tempor incididint ut labore magna aliuua. Ut enim ad minim veniam, quis nosturd exercitation u, lamco laboris nisi ut aliquip "</p>
								</blockquote>
								<!--2-->
								<blockquote>
									<p>
										"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
									</p>
								</blockquote>
								<!--3-->
								<blockquote>
									<p>" It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout "</p>
								</blockquote>
								<!--4-->
								<blockquote>
									<p>" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
								</blockquote>
							</div>
						</div>
            <!--End of Best Quotes Slider-->
            



          </div>
				</div>
				<!--End of Main Content-->
			</div>
		</div>
		<!--End Main Container-->



		<!--Resume Download Btn-->
		<div class="text-center mb40">
			<button class="btn system_btn download_icon">
				<span></span>Download CV
			</button>
			<button class="btn system_btn ml40 print_icon">
				<span></span>Print CV
			</button>
		</div>
		<!--End of Resume Download Btn-->

	</section>
	<!--End Inner Main Section-->

</main>
<!--End Main-->