<div class="animated  fadeInLeft ">

<!--Main-->
<main class="cd-main">
	<!--Inner Main Section-->
	<section class="cd-section resume visible">

		<!--Main Container-->
		<div class="container">
			<div class="ptb-60">

				<!--Intro -->
				<div class="row">
					<div>
						<div class="col-sm-12">
							<h1 class="title">My <span class="bolder">Resume</span></h1>
							<p class="mb40">
								{{data.description}}
							</p>
						</div>
					</div>
				</div>
				<!--End Intro-->

				<!--Main Content-->
				<div class="row">
					<div class="col-md-offset-1 col-xs-12 col-sm-11">
					
						<!-- Professional Skills -->
						<app-professional-skill [skills]=data.skills ></app-professional-skill>
						<!-- End of Professional Skills -->

						<!--Experience-->
						<app-experience [experience]=data.experience></app-experience>
						<!--End of Experience-->

						<!--Education-->		
						<app-education [education]="data.education"></app-education>
						<!--End of Education-->



						
						<!--Best Quotes Slider-->
						<div class="mb40">
							<h3>My Best Quotes</h3>
							<div id="quotes">
								<ngx-slick-carousel class="carousel" 
									#slickModal="slick-carousel" 
									[config]="slideConfig" 			
									>
									<ng-container *ngFor="let quote of data.blockquotes" class="slide">
										<div ngxSlickItem >
											<blockquote>
												<p>{{quote.text}}</p>
											</blockquote>
										</div>
									</ng-container>
								</ngx-slick-carousel>						
							</div>
						</div>
						<!--End of Best Quotes Slider-->
         			 </div>
				</div>
				<!--End of Main Content-->
			</div>
		</div>
		<!--End Main Container-->

		<!--Testimonial Slider-->
		<section class="testimonial_section mb40">			
			<div class="container text-center">
				<img class="thumbs-ctolenk" src="assets/images/ctolenk-gray.png" alt="CTolenk Gray">
				<!-- TESTIMONIAL CONTAINER  -->
				<div class="testimonial-slider">
					<div>
						<ngx-slick-carousel class="carousel slider-for " 
							#slickModal="slick-carousel" 
							[config]="slideConfigTestimonio" 			
							>
							<ng-container *ngFor="let quote of data.testimonio" class="slide">
								<div ngxSlickItem >
									<p class="col-sm-10 col-sm-offset-1">{{quote.text}}</p>
								</div>
							</ng-container>
						</ngx-slick-carousel>						
					</div>		
				</div>
				<span class="testimonial-divider testimonial-divider-color"></span>

				<!-- TESTIMONIALS THUMB CONTAINER  -->
				<div class="testimonial-thumbs">
					<div>
						<ngx-slick-carousel class="carousel  slider-nav " 
							#slickModal="slick-carousel" 
							[config]="slideConfigAvatar " 			
							>
							<ng-container *ngFor="let client of data.avatars" class="slide">
								<div ngxSlickItem >
									<img src="{{client.img}}" alt="{{client.name}}" />
									<div class="testimonial-user">
										<h4>{{client.name}}</h4>
										<h5>{{client.role}}, {{client.company}}</h5>
									</div>
								</div>
							</ng-container>
						</ngx-slick-carousel>					
					</div>					
				</div>
			</div>
		</section>
		<!--End of Testimonial Slider-->



		<!--Resume Download Btn-->
		<div class="text-center mb40">
			<button class="btn system_btn download_icon">
				<span></span>Download CV
			</button>		
		</div>
		<br>
		<br>
		<!--End of Resume Download Btn-->

	</section>
	<!--End Inner Main Section-->

</main>
<!--End Main-->
</div>



