<div class="animated  fadeInDown ">

<!--Main-->
<main class="cd-main">

	<!-- Inner Main Section-->
	<section class="cd-section blog visible">

		<!--Main Container-->
		<div class="container">
			<div class="ptb-60">

				<!--Intro -->
				<h1 class="title">My <span class="bolder">Blog</span></h1>
				<p class="mb40">
					Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused web-readiness. Intrinsicly monetize reliable interfaces rather than multimedia based experiences. synergistic networks. Quickly rather than multimedia based Collaboratively synergize economically sound process improvements with functionalized e-commerce.
				</p>
				<!--End Intro-->

				<!--Blog 1-->
				<div class="valign-wrapper blog_block">
					<div class="row">
						<div class="col-md-6">
							<div class="blog_img">
								<img class="img img-responsive" src="assets/images/blog1.jpg" alt="Blogs">
								<div class="blog_date">
									<h5>30 April, 2018</h5>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<a href="blog_details.html">
								<h4 class="system_font_color text-uppercase">No one should ever have left the oceans</h4>
							</a>
							<div class="blog_person">
								<h5>
									<a href="blog.html#" target="_blank">
										<span class="user_icon"></span>Carlos Tolentino
									</a>
								</h5>
								<h5>
									<a href="http://localhost/resume/resume/blog_details.html#reply" target="_blank">
										<span class="blog_coment"></span>65 comments
									</a>
								</h5>
								<h5>
									<span class="blog_share"></span>Share
								</h5>
							</div>
							<div class="mb40">
								<p>
									Assertively cultivate professional interfaces without synergistic etwor s.Quickly erage existing customized ideas through client- based eliver ables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused web-readiness..
								</p>
							</div>
							<div class="mob_center">
								<a routerLink="/blog/name-blog-detail"class="btn system_btn text-uppercase" data-menu="blog_details">Read More</a>
							</div>
						</div>
					</div>
				</div>

				<!--Blog 2-->
				<div class="valign-wrapper blog_block">
					<div class="row">
						<div class="col-md-6 col-md-push-6">
							<div class="blog_img">
								<img class="img img-responsive" src="assets/images/blog2.jpg"  alt="Blogs">
								<div class="blog_date">
									<h5>3 June, 2016</h5>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-md-pull-6">
							<a href="blog_details.html">
								<h4 class="system_font_color text-uppercase">No one should ever have left the oceans</h4>
							</a>
							<div class="blog_person">
								<h5>
									<a href="blog.html#" target="_blank">
										<span class="user_icon"></span>Carlos Tolentino
									</a>
								</h5>
								<h5>
									<a href="http://localhost/resume/resume/blog_details.html#reply" target="_blank">
										<span class="blog_coment"></span>85 comments
									</a>
								</h5>
								<h5>
									<span class="blog_share"></span>Share
								</h5>
							</div>
							<div class="mb40">
								<p>
									Assertively cultivate professional interfaces without synergistic etwor s.Quickly erage existing customized ideas through client- based eliver ables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused web-readiness..
								</p>
							</div>
							<div class="mob_center">
								<a href="blog_details.html" class="btn system_btn text-uppercase">Read More</a>
							</div>
						</div>

					</div>
				</div>

				<!--Blog 3-->
				<div class="valign-wrapper blog_block">
					<div class="row">
						<div class="col-md-6">
							<div class="blog_img">
								<img class="img img-responsive" src="assets/images/blog3.jpg" alt="Blogs">
								<div class="blog_date">
									<h5>4 July, 2016</h5>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<a href="blog_details.html">
								<h4 class="system_font_color text-uppercase">No one should ever have left the oceans</h4>
							</a>
							<div class="blog_person">
								<h5>
									<a href="blog.html#" target="_blank">
										<span class="user_icon"></span>Carlos Tolentino
									</a>
								</h5>
								<h5>
									<a href="http://localhost/resume/resume/blog_details.html#reply" target="_blank">
										<span class="blog_coment"></span>62 comments
									</a>
								</h5>
								<h5>
									<span class="blog_share"></span>Share
								</h5>
							</div>
							<div class="mb40">
								<p>
									Assertively cultivate professional interfaces without synergistic etwor s.Quickly erage existing customized ideas through client- based eliver ables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused web-readiness..
								</p>
							</div>
							<div class="mob_center">
								<a href="blog_details.html" class="btn system_btn text-uppercase">Read More</a>
							</div>
						</div>
					</div>
				</div>

				<!--Blog 4 - Appear after Show more button click-->
				<div id="mob_hide_block" class="let_show valign-wrapper blog_block" style="display:none;">
					<div class="row">
						<div class="col-md-6 col-md-push-6">
							<div class="blog_img">
								<img class="img img-responsive" src="assets/images/blog4.jpg" alt="Blogs">
								<div class="blog_date">
									<h5>30 August, 2016</h5>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-md-pull-6">
							<a href="blog_details.html">
								<h4 class="system_font_color text-uppercase">No one should ever have left the oceans</h4>
							</a>
							<div class="blog_person">
								<h5>
									<a href="blog.html#" target="_blank">
										<span class="user_icon"></span>Carlos Tolentino
									</a>
								</h5>
								<h5>
									<a href="http://localhost/resume/resume/blog_details.html#reply" target="_blank">
										<span class="blog_coment"></span>62 comments
									</a>
								</h5>
								<h5>
									<span class="blog_share"></span>Share
								</h5>
							</div>
							<div class="mb40">
								<p>
									Assertively cultivate professional interfaces without synergistic etwor s.Quickly erage existing customized ideas through client- based eliver ables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused web-readiness..
								</p>
							</div>
							<div class="mob_center">
								<a href="blog_details.html" class="btn system_btn text-uppercase">Read More</a>
							</div>
						</div>
					</div>

				</div>

				<!--Blog 5 - Appear after Show more button click-->
				<div class="let_show valign-wrapper blog_block" style="display:none;">
					<div class="row">
						<div class="col-md-6">
							<div class="blog_img">
								<img class="img img-responsive" src="assets/images/blog5.jpg" alt="Blogs">
								<div class="blog_date">
									<h5>15 August, 2016</h5>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<a href="blog_details.html">
								<h4 class="system_font_color text-uppercase">No one should ever have left the oceans</h4>
							</a>
							<div class="blog_person">
								<h5>
									<a href="blog.html#" target="_blank">
										<span class="user_icon"></span>Carlos Tolentino
									</a>
								</h5>
								<h5>
									<a href="http://localhost/resume/resume/blog_details.html#reply" target="_blank">
										<span class="blog_coment"></span>62 comments
									</a>
								</h5>
								<h5>
									<span class="blog_share"></span>Share
								</h5>
							</div>
							<div class="mb40">
								<p>
									Assertively cultivate professional interfaces without synergistic etwor s.Quickly erage existing customized ideas through client- based eliver ables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused web-readiness..
								</p>
							</div>
							<div class="mob_center">
								<a href="blog_details.html" class="btn system_btn text-uppercase">Read More</a>
							</div>
						</div>
					</div>
				</div>

				<!--Show more blog-->
				<div class="row">
					<div class="col-sm-12 text-center">
						<a id="loadMore" class="btn system_btn">Show More Blog</a>
					</div>
				</div>
				<!--End Show more blog-->
			</div>
		</div>
		<!--End Main Container-->	

	</section>
	<!--End Inner Main Section -->

</main>
<!--End Main-->
</div>